<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item">
             <img class="img-fluid rounded-circle" src="{{foto}}" alt="imagem do user" width="50px" height="50px">
          </li>
          <li class="nav-item ps-3">
            <p class="m-0 fw-bold text-white fs-16">Olá, {{nome}}</p>
          </li>

          <li class="nav-item ps-3 ">
            <a href="">
                <p class ="text-white fs-16 m-0">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </p>
            </a>
            
          </li>  
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-right">
            <li class="nav-item ps-3">
                <a (click)='sair()' class="fw-bold text-white fs-16 m-0">  
                    Sair
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
